*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(250, 207, 207);
}

.conteudo-principal{
  background-color: white;
  border-radius: 10px;
}


.conteudo{
  background-color: blueviolet;
  border-radius: 15px;
  max-width: 460px;
  height: 70%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
